@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorPassword, #errorName, #errorPhone {
    display: none;
}

input:valid{
    border-color: green;
}
/*
input:invalid {
    border-color: red;
}*/

.fieldError{
    border-color: red;
}

.icons h2 {
    font-size: 1rem;
}
@media (min-width: 992px) { 
    .icons h2 {
        font-size: 1.5rem;
    }
}