<div class="container-sw">
    <div class="star-wars-text">
    <h2>Welcome to Star Wars Ships</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus incidunt dolor commodi alias ducimus, blanditiis eveniet corporis, odit voluptatibus obcaecati ab vitae iusto autem perspiciatis, soluta minima voluptate eligendi cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nesciunt accusamus rerum numquam reiciendis ipsam eius laboriosam rem, nulla voluptates quis, impedit dolores labore assumenda magni aut dolore repellat architecto.</p>
    </div>    
</div>

<button routerLink="/naves">Go to ships page</button>