input {
    width: 3rem;
    border:none;
}

.btn-incremento {
    background-color: #F77754;
    color:white;
    //padding:0.5rem;
    border:none;
    border-radius: 0.5rem;
    //font-size: 1.2rem;
    width:1.5rem;
    height:1.5rem;
}
div, form {
    display:inline;
}